.slide-enter-active {
  transition: all 750ms ease-in-out
}
.slide-enter {
  transform: translateY(-40%);
}
.slide-enter-to {
  transform: translateY(0);
}

.ride-enter-active {
  transition: all 750ms ease-in-out;
}
.ride-enter {
  transform: translateX(40%)
}
.ride-enter-to {
  transform: translateX(0)
}

.surf-enter-active {
  transition: all 750ms ease-in-out;
}
.surf-enter {
  transform: translateX(-40%)
}
.surf-enter-to {
  transform: translateX(0)
}

.fade-enter-active {
  transition: opacity 1.0s;
}
.fade-enter {
  opacity: 0;
}
